@import "variables";
@import "dialogs-part";
@import "messages-part";

.content-box.messages {
  .left-bar {
    height: 100%;
    width: 330px;
    float: left;
    border-right: thin solid $BORDER_TILE_COLOR;
    box-sizing: border-box;
    overflow: auto;
  }
  .right-bar {
    position: relative;
    height: 100%;
    width: calc(100% - 330px);
    float: right;
    background-color: $RIGHT_BAR_BACKGROUND_COLOR;
  }
  .empty-alert {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    span {
      display: table-cell;
      vertical-align: middle;
      font-size: 22;
      color: #515151;
    }
  }
}
