$SIDE_HEADER_HEIGHT: 40px;
$SIDE_HEADER_MARGIN_TOP: 0px;
$SIDE_HEADER_FONT_COLOR: #A0A0A0;
$SIDE_HEADER_ICON_SIZE: 19px;
$SIDE_HEADER_PADDING: 5px;

$CONV-TILE_HEIGHT: 60px;
$CONV-TILE_PADDING: 5px;
$SENDER_IMG_DIAMETER: 60px;
$SOCIAL_IMG_DIAMETER: 15px;
$TILE_LEFT_PART_WIDTH: 60px;
$TILE_RIGHT_PART_WIDTH: 60px;
$BORDER_TILE_COLOR: #D3D3D3;

$RIGHT_BAR_BACKGROUND_COLOR: #EAEAEA;
$SENDER_IMG_DIAMETER_SMALL: 35px;

$MESSAGE_BACKGROUND_COLOR: #BCCECD;
$OUTPUT_MESSAGE_BACKGROUND_COLOR: #FFFFFF;
$INPUT_MESSAGE_BACKGROUND_COLOR: #DADCF5;

$SELECTED_DIALOG_COLOR: #7A7EA3;
$HOVER_DIALOG_COLOR: #EDECF2;
$UNREAD_DIALOG_COLOR: #DDDDE7;

$COLOR_MESSAGE_READ: #5C638D;

/* wrapper */
$WRAPPER_HEIGHT: 100%;
$WRAPPER_WIDTH: 100%;
$CONTENT_HEIGHT: 100%;
$CONTENT_BOX_HEIGHT: 100%;
/* wrapper */

/* header */
$HEADER_HEIGHT: 40px;
$HEADER_PADDING: 5px;
$TITLE_FONT_SIZE: 14px;
$TITLE_WIDTH: 300px;
$HEADER_COLOR: #5C628E;
/* header */